{% extends "detalleBase.html" %}

{% block nombre %}
{{masa.nombre}}
{% endblock %}

{% block attrbItems %}
  <li>grosor: {{masa.grosormm}} mm</li>
  <li>harina: {{masa.tipoHarina}}</li>
  <li>suplemento: +{{masa.supPrecio}}€</li>
{% endblock %}

{% block relLista %}
Pizzas
{% endblock %}

{% block listaItems %}
  {% for pizza in masa.pizza_set.all %}
    <li>
      <a href="{% url 'detalle_pizza' pizza.id %}">{{pizza.nombre}} ({{pizza.precio}}€)</a>
    </li>
  {% empty %}
      <p>No se han encontrado pizzas</p>
  {% endfor %}

{% endblock %}
