{% extends "detalleBase.html" %}
{% load static %}

{% block nombre %}
{{masa.nombre}}
{% endblock %}

{% block mainImg %}<img src="{% static 'img/' %}masa-{{masa.nombre|lower}}.jpg" width=75% alt="Image" class="img-fluid">{% endblock %}

{% block attrbItems %}
  <li>Grosor: {{masa.grosormm}} mm</li>
  <li>Harina: {{masa.tipoHarina}}</li>
  <li>Suplemento: +{{masa.supPrecio}}€</li>
{% endblock %}

{% block relLista %}
Pizzas
{% endblock %}

{% block relListaDesc %}
Descubre que pizzas tenemos con esta masa.
{% endblock %}

{% block listaItems %}
  {% for pizza in masa.pizza_set.all|dictsort:"nombre" %}
  <a href="{% url 'detalle_pizza' pizza.id %}" class="media tm-media tm-recommended-item">
    <img src="{% static 'img/' %}pizza-{{pizza.nombre|lower}}.jpg" width=40% alt="Image">
    <div class="media-body tm-media-body tm-bg-gray">
      <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{pizza.nombre}} ({{pizza.precio}}€)</h4>
    </div>
  </a>
  {% empty %}
    <p>No se han encontrado pizzas.</p>
  {% endfor %}

{% endblock %}
