{% extends "detalleBase.html" %}
{% load static %}

{% block nombre %}
{{pizza.nombre}}
{% endblock %}

{% block attrbItems %}
  <li>precio: {{pizza.precio}}€</li>
  <li>tipo masa:<a href="{% url 'detalle_masa' pizza.masa.id %}">{{pizza.masa.nombre}}</a></li>
{% endblock %}

{% block relLista %}
Ingredientes
{% endblock %}

{% block relListaDesc %}
Descubre de que esta hecha esta pizza.
{% endblock %}

{% block listaItems %}
  {% for ingrediente in pizza.ingredientes.all|dictsort:"nombre" %}
  <a href="{% url 'detalle_ingrediente' ingrediente.id %}" class="media tm-media tm-recommended-item">
    <img src="{% static 'img/tn-img-01.jpg' %}" alt="Image">
    <div class="media-body tm-media-body tm-bg-gray">
      <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{ingrediente.nombre}}</h4>
    </div>
  </a>
{% empty %}
  <p>No se han encontrado ingredientes.</p>
{% endfor %}

{% endblock %}
