{% extends "detalleBase.html" %}

{% block nombre %}
{{ingrediente.nombre}}
{% endblock %}

{% block attrbItems %}
  <li>origen: {{ingrediente.origen}}</li>
  <li>kcal: {{ingrediente.kcal}} kcal por 100g</li>
{% endblock %}

{% block relLista %}
Pizzas
{% endblock %}

{% block listaItems %}
  {% for pizza in ingrediente.pizzas.all %}
    <li>
      <a href="{% url 'detalle_pizza' pizza.id %}">{{pizza.nombre}}</a>
    </li>
  {% empty %}
    <p>No se han encontrado pizzas</p>
  {% endfor %}

{% endblock %}
