{% extends "detalleBase.html" %}

{% block nombre %}
{{pizza.nombre}}
{% endblock %}

{% block attrbItems %}
  <li>precio: {{pizza.precio}}€</li>
  <li>tipo masa:<a href="{% url 'detalle_masa' pizza.masa.id %}">{{pizza.masa.nombre}}</a></li>
{% endblock %}

{% block relLista %}
Ingredientes
{% endblock %}

{% block listaItems %}
  {% for ingrediente in pizza.ingredientes.all %}
    <li>
      <a href="{% url 'detalle_ingrediente' ingrediente.id %}">{{ingrediente.nombre}}</a>
    </li>
  {% empty %}
    <p>No se han encontrado ingredientes.</p>
  {% endfor %}

{% endblock %}
