{% extends "listaBase.html" %}

{% block models %} pizzas {% endblock %}

{% block listaItems %}

{% for pizza in lista_pizzas %}

<article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
  <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
  <h3 class="tm-color-primary tm-article-title-1">{{pizza.nombre}}</h3>
  <p>Por solo {{pizza.precio}}€ !!</p>
  <a href="{% url 'detalle_pizza' pizza.id %}" class="text-uppercase tm-color-primary tm-font-semibold">Ver más</a>
</article>

{% empty %}
<p>No se han encontrado masas.</p>
{% endfor %}

{% endblock %}
