{% extends "listaBase.html" %}
{% load static %}

{% block models %} pizzas {% endblock %} <!--Detalla el nombre del titulo-->

{% block listaItems %} <!--Detalla la lista de pizzas-->

{% for pizza in lista_pizzas %}

<article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
  <img src="{% static 'img/' %}pizza-{{pizza.nombre|lower|cut:" "}}.jpg" width=75% alt="Image" class="img-fluid">
  <h3 class="tm-color-primary tm-article-title-1">{{pizza.nombre}}</h3>
  <p>Por solo {{pizza.precio}}€ !!</p>
  <a href="{% url 'detalle_pizza' pizza.id %}" class="text-uppercase tm-color-primary tm-font-semibold">Ver más</a>
</article>

{% empty %}
<p>No se han encontrado masas.</p>
{% endfor %}

{% endblock %}
