{% extends "listaBase.html" %}
{% load static %}

{% block models %} masas {% endblock %} <!--Detalla el nombre del titulo-->

{% block listaItems %} <!--Detalla la lista de masas-->
  {% for masa in lista_masas %}
  <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
    <img src="{% static 'img/' %}masa-{{masa.nombre|lower|cut:" "}}.jpg" alt="{{masa.nombre}}" class="img-fluid img-lista">
    <h3 class="tm-color-primary tm-article-title-1">{{masa.nombre}}</h3>
    <p>Suplemento de +{{masa.supPrecio}}€</p>
    <a href="{% url 'detalle_masa' masa.id %}" class="text-uppercase tm-color-primary tm-font-semibold">Ver más</a>
  </article>
  {% empty %}
      <p>No se han encontrado masas</p>
  {% endfor %}
{% endblock %}
